<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ПВС</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>




<div class="container col-sm-10">



    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
        загрузить список организаций
    </button>

    <div class="collapse " id="collapseExample">
        <div class="form-group mt-3">
            <form method="POST" enctype="multipart/form-data"action="/listorg">

                <div class="form-group">
                    <label for="file">File OFD: </label>
                    <input type="file" class="form-control-file text-truncate" name="file" id="file">
                </div>

                <div class="form-group">
                    <input type="submit"  class="btn btn-primary" value="Загрузить">
                </div>
            </form>

        </div>
    </div>


    <table class="table table-bordered">
        <tr class="d-flex">

            <th class="col-sm-2" scope="col">ФИО гражданина</th>
            <th class="col-sm-3" scope="col">Адрес регистрации</th>
            <th class="col-sm-3" scope="col">Принимающая сторона</th>
            <th class="col-sm-2" scope="col">Дата оказания услуги</th>
            <th class="col-sm" scope="col">Плательщик</th>

        </tr>

        <tr class="d-flex" th:each=" listorg : ${page}">
            <td class="col-sm-2" scope="col" th:utext="${listorg.fio}"></td>
            <td class="col-sm-3" scope="col" th:utext="${listorg.adress}"></td>
            <td class="col-sm-3" scope="col" th:utext="${listorg.receivingParty}"></td>
            <td class="col-sm-2" scope="col" th:utext="${listorg.targetDate}"></td>
            <td class="col-sm" scope="col" th:utext="${listorg.payer}"></td>


    </table>
    <div th:replace="fragments/paginable :: page"/>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>